@charset "utf-8";

body{
  margin: 0;
  /* max-width: 800px; */
  /* 背景を透明にする */
  position: relative;
  overflow-x: hidden;
  min-width: 400px;
}

p, h1, h2{
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
  font-style: none;
  font-weight: normal;
}

img{
  vertical-align:top;
}

a:hover{
  cursor: pointer;
  opacity: 0.7;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.contents{
  position: relative;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.8);
  padding: 8px 0 8px;
  margin-bottom: 64px;
}

.container img{
  padding: 0 16px;
}



.menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: antiquewhite; */
}

.menu ul li{
  padding:0 16px;
  margin: 16px 0;
  border-right: 2px solid pink;
}

.menu ul li:first-child{
  border-left: 2px solid pink;
}

.menu a{
  text-decoration: none;
  color: #000000;
}



/* spメニューの設定 */
.sp_container{
  display: none;
}

.sp_header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.8);
  padding: 8px 0 8px;
  margin-bottom: 48px;
}

.sp_container a{
  text-decoration: none;
}

.sp_menu{
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.material-symbols-outlined {
  font-size: 40px;
  color: white;
  background-color: black;
  padding: 4px;
}

.sp_menu .sp_menu_close{
  text-align: right;
}

.sp_menu li{
  text-align: left;
  padding: 12px 16px;
  border-bottom: solid 1px black;
}

.sp_menu li:last-child{
  border-bottom: none;
}


/* スポットコンテナ */
.spot_container{
  padding: 0 16px;
}


/* スポットの設定 */
.spot{
  width: auto;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto 64px;
  background-image: url(./pic/spot_bg.jpg);
  /* background-repeat: repeat;
  background-size: 1000px; */
  /* background-color: pink; */
  border: solid 2px white;
  border-radius: 32px;
}

.spot_intro{
  margin-top: 48px;
  /* background-color: aquamarine; */
}

.spot_intro p{
  margin: 32px 48px 0;
}

.spot_intro a{
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 24px;
}

.spot_cont{
  margin: 48px 0;
}

.spot_gazou{
  margin: 0 48px;
  padding-top: 48px;
  display: flex;
}

.spot_gazou p{
  text-align: left;
}

.spot_gazou a{
  text-align: left;
}


.modal_open:hover{
  opacity: 0.7;
  transition: all 0.6s ease 0s;
  cursor: pointer;
}


/* 画像の右側に余白を作る（＝文字との間を空ける）。reverseがついてる要素ごとまとめて設定 */
.spot_text{
  padding: 0 0 0 24px;
}

/* 画像の左側に余白を作る。reverseがついてる要素にのみ設定。上記設定を上書きするためにrightに0を設定している。 */
.reverse .spot_text{
  padding: 0 24px 0 0;
}


.reverse{
  flex-direction: row-reverse;
}



/* モーダルウィンドウの設定 */
.hidden{
  display: none;
}

.modal_img{
  position: fixed;
  z-index: 9;
  width: 90%;
  min-width: 300px;
  /* height: 100%; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  inset: 0;
  margin: auto;
  /* margin: 5%; */
  /* height: auto; */
}

.modal_bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}


/* フッターの設定 */
#footer{
  /* position: relative; */
  /* top: 600px; */
  background-color: palegreen;
  border-top: 2px solid gainsboro;
  padding: 32px 0;
  text-align: center;
}


/* 背景を設定 */
.top_wp1{
  background-image: url(./pic/bg02.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  /* display: block; */
  background-size: 100% auto;
  /* スクロールしても背景を固定 */
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
}




/* sp用の設定 */
@media (max-width: 750px){
  /* SP用メニューに切り替え */
  .container{
    display: none;
  }

  .sp_container{
    display: block;
  }

  /* スポットを１カラムに切り替え */
  .spot_container{
    padding: 0 8px;
  }

  .spot_gazou{
    display: block;
    margin: 0 16px;
  }

  .spot_text{
    padding: 16px 0;
  }

  .reverse .spot_text{
    padding: 16px 0;
  }



}


